
<p>UserName : <%= @tweet.user_name %></p>
<p>Tweet : <%= @tweet.message %>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@tweet.latitude},#{@tweet.logitude}&markers=#{@tweet.latitude},#{@tweet.logitude}&zoom=7&size=640x400&key=AIzaSyAFa4YnkGQC07Iqc--e91UsecYt88h1Bew",
              class: 'img-fluid img-rounded', alt: "#{@tweet.user_name} on the map"%>

